# Maven
target

# Gradle
.gradle/
build/

# Netbeans
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
nbproject/
.nb-gradle/
.nb-gradle-properties

# IntelliJ
.idea/
*.iml

# Generated
*.txt
*.html
*.xml
*.csvß
test_*
*.ser
*.zip


# Resources
!core/src/main/resources/org/cirdles/calamari/prawn/*.xml
!core/src/main/resources/org/cirdles/calamari/prawn/*.txt
!app/src/main/resources/org/cirdles/calamari/version.txt
!core/src/test/resources/org/cirdles/calamari/core/*.txt
!web/src/test/resources/org/cirdles/calamari/core/*.txt

# MACOS
.DS_Store
